/* Estilos base */
body {
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cuadro1 {
    background-color: #ffffff;
    padding: 1cqb;
    text-align: right;
    z-index: -1;
    opacity: 0;
    animation: aparecerEncabezado 2s forwards;
}

@keyframes aparecerEncabezado {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.cuadro {
    width: 250px;
    height: 100vh;
    background-color: #5092f6;
    padding: 20px;
    margin: 0;
    position: fixed;
    color: white;
    left: -150px;
    animation: aparecer 2s forwards;
    z-index: 1;
}

@keyframes aparecer {
    0% { opacity: 0; left: -150px; }
    100% { opacity: 1; left: 0; }
}

.cuadro ul {
    padding: 0 !important;
}

.cuadro li {
    margin: 10px 0 !important;
}

.cuadro img {
    display: block !important;
    width: 100px !important;
    height: auto !important;
    margin-bottom: 50px !important;
}

ul {
    list-style: none !important;
}
.container {
    background-color: #c8c7f757;
    flex: 1;
    padding: 15px;
     margin-left: 260px;
    margin: 15px 15px 15px 300px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: 12px;
}

tr:nth-child(even) { background-color: #c8c8c8 }
tr:nth-child(odd) { background-color: #ffffff }

th {
    background-color: #4f80f2;
    color: white;
}

/* Otros estilos */
.sidebar-btn {
    display: block;
    width: 210px;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #5092f6;
    border: none;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-decoration: none;
}

.sidebar-btn:hover {
    background-color: #4170d4;
    transform: scale(1.02);
}
