{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>PACIENTES</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css">
        <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
        <link rel="stylesheet" href="{% static 'inicio/style.css' %}">
    </head>

    <body class="mi-app">
        
        <!-- ⭐ MENÚ LATERAL ANIMADO ⭐ -->
        <aside class="cuadro">
            <nav>
                <img src="{% static 'inicio/imagenes/Logo.png' %}" alt="Logo Buena Salud">
                <ul>
                    <li><a class="button sidebar-btn" href="{% url 'Principal' %}"><i class="fi fi-ss-home"></i>  Panel de Control</a></li>
                    <li><a class="button sidebar-btn" href="{% url 'ListaPaciente' %}"><i class="fi fi-ss-user"></i>   Pacientes</a></li>
                    <li><a class="button sidebar-btn" href="{% url 'listaMedicos' %}"><i class="fi fi-ss-user-md"></i>  Doctores</a></li>
                    <li><a class="button sidebar-btn" href="{% url 'ListaCitas' %}"><i class="fi fi-ss-calendar"></i>  Citas</a></li>
                    <li><a class="button sidebar-btn" href="{% url 'ListaHistorial' %}"><i class="fi fi-ss-hospital"></i>  Historias Clínicas</a></li>
                    <li><a class="button sidebar-btn" href="#"><i class="fi fi-ss-ambulance"></i>  Hospitalizaciones</a></li>
                    <li><a class="button sidebar-btn" href="#"><i class="fi fi-ss-file-invoice-dollar"></i>  Facturación</a></li>
                </ul>
            </nav>
        </aside>

        <!-- ⭐ CONTENIDO PRINCIPAL ⭐ -->
        <div style="margin-left: 270px; padding: 20px;">
            <h1>Pacientes</h1>
            <a href="{% url 'Principal' %}" class="regresar">volver</a>

            <div class="tablecontainer">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Tipo de Documento</th>
                            <th>Número de Documento</th>
                            <th>Fecha de nacimiento</th>
                            <th>Género</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Estado Civil</th>
                            <th></th>
                            <th></th>
                            <th><a href="{% url 'CreatePaciente' %}">Añadir paciente</a></th>
                        </tr>
                    </thead>
                    {% for paciente in pacientes %}
                    <tr>
                        <td>{{paciente.Nombre}}</td>
                        <td>{{paciente.Apellido}}</td>
                        <td>{{paciente.Tipo_Documento}}</td>
                        <td>{{paciente.Numero_Documento}}</td>
                        <td>{{paciente.Fecha_Nacimiento}}</td>
                        <td>{{paciente.Genero}}</td>
                        <td>{{paciente.Direccion}}</td>
                        <td>{{paciente.Telefono}}</td>
                        <td>{{paciente.Correo}}</td>
                        <td>{{paciente.Estado_Civil}}</td>
                        <td><a class="editar" href="{% url 'EditPaciente' paciente.ID_Paciente %}">editar</a></td>
                        <td><a class="eliminar" href="{% url 'DeletePaciente' paciente.ID_Paciente %}" onclick="return confirm('¿Estas seguro de eliminar a {{paciente.Nombre}} {{paciente.Apellido}}?');">eliminar</a></td>
                        <td><a href="{% url 'exportar_paciente_pdf' paciente.ID_Paciente %}" class="btn btn-danger"><i class="fi fi-rr-file-pdf"></i>Descargar PDF</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
<html>
